#full {
    margin:auto;
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
}
#menu {
    margin:auto;
    font-family: Arial, sans-serif;
    font-size: 19px;
    font-weight: bold;
}
.inner1 {
    background-color: teal;
    height: 400px;
    padding: 10px;
    color: white;
}
.inner2 {
    background-color: orange;
    height: 400px;
    padding: 10px;
    color: white;
}
